<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Crud Stock</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <br>

        <h1>Simple Stock Items App</h1>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalAddNew">Add New</button>
                </div>
                <div class="col-sm-6">
                    <form>
                        <input type="text" placeholder="Search name item..." class="search-input" name="search">
                        <button><i class="fa fa-search search-button"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <br><br>

        <table class="table" id="stock-table">
            <thead>
                <tr>
                    <th scope="col">Kode Barang</th>
                    <th scope="col">Nama Barang</th>
                    <th scope="col">Stok Barang</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            <tbody>
                <form action="/detail" method="post">
                <% for(let item of items) { %>
                <tr id="item">
                    <th scope="row"><%= item.kode_barang %></th>
                    <td><%= item.nama_barang %></td>
                    <td><%= item.stok_barang %></td>
                    <td>
                        <input type="hidden" class="detail-kode-barang" name="kode_barang" required>
                        <button type="submit" class="btn btn-primary detail" data-bs-toggle="modal" data-bs-target="#modalDetail" data-kode_barang="<%= item.kode_barang %>">Detail</button>
                        <button type="button" class="btn btn-secondary edit" data-bs-toggle="modal" data-bs-target="#modalEdit" data-kode_barang="<%= item.kode_barang %>" data-nama_barang="<%= item.nama_barang %>" data-stok_barang="<%= item.stok_barang %>">Edit</button>
                        <button type="button" class="btn btn-danger delete" data-bs-toggle="modal" data-bs-target="#modalDelete" data-kode_barang="<%= item.kode_barang %>">Delete</button>
                    </td>
                </tr>
                <% } %>
                </form>
            </tbody>
        </table>

        <!-- Modal for Add New -->
        <form action="/save" method="post">
        <div class="modal fade" id="modalAddNew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Kode Barang</label>
                            <input type="text" class="form-control" id="exampleItext1" aria-describedby="emailHelp" name="kode_barang">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nama Barang</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nama_barang">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Stok Barang</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="stok_barang">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success float-end ms-1">Save</button>
                        <button type="button" class="btn btn-secondary float-end me-1" data-bs-dismiss="modal">Close</button>    
                    </div>
                </div>
            </div>
        </div>
        </form>

        <!-- Modal for Detail-->
        <div class="modal fade" id="modalDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <!-- <input type="hidden" class="detail-kode-barang" name="kode_barang" required> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for Edit-->
        <form action="/update" method="post">
        <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nama Barang</label>
                            <input type="text" class="form-control edit-nama-barang" id="exampleInputEmail1" aria-describedby="emailHelp" name="nama_barang">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Stok Barang</label>
                            <input type="text" class="form-control edit-stok-barang" id="exampleInputEmail1" aria-describedby="emailHelp" name="stok_barang">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" class="edit-kode-barang" name="kode_barang" required>
                        <button type="submit" class="btn btn-success float-end ms-1">Update</button>
                        <button type="button" class="btn btn-secondary float-end me-1" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        </form>

        <!-- Modal for Delete-->
        <form action="/delete" method="post">
        <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure want to delete this item ?</p>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" class="delete-kode-barang" name="kode_barang" required>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        </form>

    </div>

      <script src="/assets/js/jquery-3.6.2.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <script>
        $('.search-button').on('click', function(event) {
            event.preventDefault();
            let inputSearch = $('.search-input').val().toLowerCase();
            let items = document.querySelectorAll('#item');
            for(let item of items){
                let itemContent = item.children[1].innerHTML.toLowerCase();
                if(itemContent.includes(inputSearch)) {
                    item.removeAttribute('hidden');               
                } else {
                    item.setAttribute('hidden', true);
                }
            }   
        });

        $('#stock-table').on('click','.detail', function() {
            let kode_barang = $(this).data('kode_barang');
            $('.detail-kode-barang').val(kode_barang);
        });

        $('#stock-table').on('click','.edit', function() {
            let kode_barang = $(this).data('kode_barang');
            let nama_barang = $(this).data('nama_barang');
            let stok_barang = $(this).data('stok_barang');
            $('.edit-kode-barang').val(kode_barang);
            $('.edit-nama-barang').val(nama_barang);
            $('.edit-stok-barang').val(stok_barang);
        });

        // mengisi elemen dengan class kode-barang sehingga mempunyai nilai kode_barang
        $('#stock-table').on('click','.delete', function() {
            let kode_barang = $(this).data('kode_barang');
            $('.delete-kode-barang').val(kode_barang);
        });
      </script>
</body>
</html>